body{background-image: url("images/build.jpg");height:400px;width: 100%;
background-repeat: no-repeat; 
background-size: cover;

}

.logoimg{
    height:30px;width: 35px;
    margin-right: 300px;
  
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .mt{ margin-top:500px;}

  .violet{background-color: #7D56C0;}
.seccol{background-color:#AB46B8;}
.thcol{background-color:#24A69B;}
.frcol{background-color:#26B7F7;}

.secimg{height:166px;}

.hell{margin-left: 265px;}
.bgcolor1{background-color:blue;}

.img4{height:100px;}
.img5{height:100px;}
.img6{height:100px;}
.img7{height:100px;}

.secolor{background-color: blue;}

.lastsec{background-image: url("images/build.jpg");height:400px;width: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
  }
.lafrm{height:40px;}
.carsiz{margin-top: 110px;margin-right: 100px;}

